{:strongs 558, :hebrew "אמציהו", :lang :pt, :gloss "Amatsjah, the name of four Israelites", :text "Amatsjah, o nome de quatro israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:35:32.250239872Z"}