{:strongs 622, :hebrew "נאספו", :lang :pt, :gloss "to gather for any purpose; hence, to receive, take away, i.e. remove (destroy, leave behind, put up, restore, etc.)", :text "reunir para qualquer propósito; daí, receber, tirar, i.e. remover (destruir, deixar para trás, guardar, restituir, etc.)", :model "glm-5.2", :timestamp "2026-07-27T00:32:34.454217690Z"}