{:strongs 839, :hebrew "אשרים", :lang :pt, :gloss "the cedar tree or some other light elastic wood", :text "o cedro, ou alguma outra madeira leve e elástica", :model "glm-5.2", :timestamp "2026-07-27T01:56:45.694987576Z"}