{:strongs 931, :hebrew "בהן", :lang :pt, :gloss "the thumb of the hand or great toe of the foot", :text "o polegar da mão ou o halux do pé", :model "glm-5.2", :timestamp "2026-07-27T00:40:30.565829444Z"}