{:strongs 6565, :hebrew "הפרו", :lang :pt, :gloss "to break up (usually figuratively), i.e. to violate, frustrate", :text "romper (usualmente figuradamente), i.e. violar, frustrar", :model "glm-5.2", :timestamp "2026-07-27T00:37:26.338884029Z"}