{:strongs 6728, :hebrew "ציים", :lang :pt, :gloss "a desert-dweller, i.e. nomad or wild beast", :text "um habitante do deserto, i.e., nômade ou animal selvagem", :model "glm-5.2", :timestamp "2026-07-27T01:07:28.940288336Z"}