{:strongs 6819, :hebrew "יצערו", :lang :pt, :gloss "to be small, i.e. (figuratively) ignoble", :text "ser pequeno, i.e. (figurativamente) ignóbil", :model "glm-5.2", :timestamp "2026-07-27T01:52:44.331235534Z"}