{:strongs 6968, :hebrew "קוממיות", :lang :pt, :gloss "elevation, i.e. (adverbially) erectly (figuratively)", :text "elevação, i.e. (adverbialmente) eretamente (figurativamente)", :model "glm-5.2", :timestamp "2026-07-27T01:53:06.618008780Z"}