{:strongs 1162, :hebrew "בעז", :lang :es, :gloss "Boaz, the ancestor of David; also the name of a pillar in front of the temple", :text "Boaz, el ancestro de David; también el nombre de una columna frente al Templo", :model "glm-5.2", :timestamp "2026-07-26T23:26:40.226383535Z"}