{:strongs 1176, :hebrew "זבוב", :lang :es, :gloss "Baal-Zebub, a special deity of the Ekronites", :text "Baal-Zebub, una deidad particular de los ekronitas", :model "glm-5.2", :timestamp "2026-07-27T00:01:45.240870075Z"}