{:strongs 1235, :hebrew "", :lang :es, :gloss "a section (half) of a shekel, i.e. a beka (a weight and a coin)", :text "una sección (mitad) de un shekel, es decir, un beqaʿ (un peso y una moneda)", :model "glm-5.2", :timestamp "2026-07-27T00:07:53.315326058Z"}