{:strongs 1295, :hebrew "", :lang :es, :gloss "a reservoir (at which camels kneel as a resting-place)", :text "un reservorio (donde los camellos se arrodillan como lugar de descanso)", :model "glm-5.2", :timestamp "2026-07-26T23:35:00.986773715Z"}