{:strongs 1564, :hebrew "גלמי", :lang :he, :gloss "a wrapped (and unformed mass, i.e. as the embryo)", :text "עטוף (וגוש בלתי-מעוצב, כלומר כעובר)", :model "glm-5.2", :timestamp "2026-07-27T06:13:42.242366442Z"}