{:strongs 1619, :hebrew "גרב", :lang :he, :gloss "Gareb, the name of an Israelite, also of a hill near Jerusalem", :text "גרב, שמו של ישראלי, וכן של גבעה ליד ירושלים", :model "glm-5.2", :timestamp "2026-07-27T05:52:41.463128492Z"}