{:strongs 1724, :hebrew "נדהם", :lang :he, :gloss "to be dumb, i.e. (figuratively) dumbfounded", :text "לֶאֱלַם, דהיינו (בלשון ציור) לָהוּם / לִבְהוֹת.", :model "glm-5.2", :timestamp "2026-07-27T06:14:08.566120234Z"}