{:strongs 7065, :hebrew "קנאתי", :lang :pt, :gloss "to be (causatively, make) zealous, i.e. (in a bad sense) jealous or envious", :text "ser (causativamente, tornar) zeloso, i.e. (em sentido ruim) ciumento ou invejoso", :model "glm-5.2", :timestamp "2026-07-27T00:39:19.041080118Z"}