{:strongs 7157, :hebrew "יערים", :lang :pt, :gloss "Kirjath-Jearim or Kirjath-Arim, a place in Palestine", :text "Qiryath-Ye'arim ou Qiryath-Arim, um lugar em Kena'an", :model "glm-5.2", :timestamp "2026-07-27T00:39:03.323013841Z"}