{:strongs 7281, :hebrew "רגע", :lang :pt, :gloss "a wink (of the eyes), i.e. a very short space of time", :text "um piscar (de olhos), i.e., um espaço de tempo muito curto", :model "glm-5.2", :timestamp "2026-07-27T00:42:42.421116833Z"}