{:strongs 7291, :hebrew "רדף", :lang :pt, :gloss "to run after (usually with hostile intent; figuratively [of time] gone by)", :text "perseguir (geralmente com intenção hostil; figuradamente [do tempo] já passado)", :model "glm-5.2", :timestamp "2026-07-27T00:33:09.102382520Z"}