{:strongs 7468, :hebrew "רעותה", :lang :pt, :gloss "a female associate; generally an additional one", :text "uma associada; genericamente, uma adicional", :model "glm-5.2", :timestamp "2026-07-27T01:04:27.639971869Z"}