{:strongs 3371, :hebrew "יקתאל", :lang :he, :gloss "Joktheel, the name of a place in Palestine, and of one in Idumaea", :text "יקתאל, שם מקום בפלשתין, ושל מקום באדומה", :model "glm-5.2", :timestamp "2026-07-27T06:20:26.564555920Z"}