{:strongs 8082, :hebrew "", :lang :pt, :gloss "greasy, i.e. gross; figuratively, rich", :text "gorduroso, i.e., espesso; figuradamente, rico", :model "glm-5.2", :timestamp "2026-07-27T00:49:42.890992137Z"}