{:strongs 8393, :hebrew "תבואת", :lang :pt, :gloss "income, i.e. produce (literally or figuratively)", :text "renda, i.e. produto (literalmente ou figuradamente)", :model "glm-5.2", :timestamp "2026-07-27T00:36:28.751236548Z"}