{:strongs 8417, :hebrew "", :lang :pt, :gloss "braggadocio, i.e. (by implication) fatuity", :text "jactância, i.e. (por implicação) fatuidade", :model "glm-5.2", :timestamp "2026-07-27T01:56:49.911127781Z"}