{:strongs 8441, :hebrew "תועבת", :lang :pt, :gloss "properly, something disgusting (morally), i.e. (as noun) an abhorrence; especially idolatry or (concretely) an idol", :text "propriamente, algo repugnante (moralmente), i.e. (como substantivo) uma abominação; especialmente idolatria ou (concretamente) um ídolo", :model "glm-5.2", :timestamp "2026-07-27T00:33:06.278222259Z"}