{:strongs 8478, :hebrew "תחת", :lang :pt, :gloss "the bottom (as depressed); only adverbially, below (often with prepositional prefix underneath), in lieu of, etc.", :text "o fundo (como aquilo que é rebaixado); somente adverbialmente, abaixo (frequentemente com prefixo preposicional, debaixo de), em lugar de, etc.", :model "glm-5.2", :timestamp "2026-07-27T00:31:08.561054200Z"}