{:strongs 2396, :hebrew "חזקיהו", :lang :zh-Hans, :gloss "Chizkijah, a king of Judah, also the name of two other Israelites", :text "Chizqîyâh（希西家），犹大的一位王，也是另外两位以色列人的名字", :model "glm-5.2", :timestamp "2026-07-27T02:00:21.296754978Z"}