{:strongs 2428, :hebrew "חיל", :lang :zh-Hans, :gloss "probably a force, whether of men, means or other resources; an army, wealth, virtue, valor, strength", :text "大概指一种力量，无论是人力、物资或其他资源；军队、财富、德行、勇武、力量", :model "glm-5.2", :timestamp "2026-07-27T01:59:41.822599121Z"}