{:strongs 4055, :hebrew "מדו", :lang :pt, :gloss "properly, extent, i.e. height; also a measure; by implication, a vesture (as measured); also a carpet", :text "propriamente, extensão, i.e. altura; também uma medida; por implicação, uma vestidura (como medida); também um tapete", :model "glm-5.2", :timestamp "2026-07-27T00:48:45.029780598Z"}