{:strongs 4157, :hebrew "מועקה", :lang :pt, :gloss "pressure, i.e. (figuratively) distress", :text "pressão, i.e. (figurativamente) angústia", :model "glm-5.2", :timestamp "2026-07-27T01:44:39.216624868Z"}