{:strongs 4355, :hebrew "ימך", :lang :pt, :gloss "to tumble (in ruins); figuratively, to perish", :text "tombar (em ruínas); figurativamente, perecer", :model "glm-5.2", :timestamp "2026-07-27T01:45:13.658077385Z"}