{:strongs 5234, :hebrew "הכר", :lang :pt, :gloss "properly, to scrutinize, i.e. look intently at; hence (with recognition implied), to acknowledge, be acquainted with, care for, respect, revere, or (with suspicion implied), to disregard, ignore, be strange toward, reject, resign, dissimulate (as if ignorant or disowning)", :text "próprio, escrutinar, i.e., olhar atentamente para; daí (com reconhecimento implícito), reconhecer, estar familiarizado com, cuidar de, respeitar, reverenciar, ou (com suspeita implícita), desconsiderar, ignorar, ser estranho para com, rejeitar, resignar, dissimular (como se ignorasse ou desconhecendo)", :model "glm-5.2", :timestamp "2026-07-27T00:35:50.382408345Z"}