{:strongs 5317, :hebrew "נפת", :lang :pt, :gloss "a dripping i.e. of honey (from the comb)", :text "gotejante, ou seja, de mel (do favo)", :model "glm-5.2", :timestamp "2026-07-27T01:24:59.199364779Z"}