{:strongs 5480, :hebrew "תסוך", :lang :pt, :gloss "properly, to smear over (with oil), i.e. anoint", :text "próprio, ungir com óleo (esfregar), i.e. ungir", :model "glm-5.2", :timestamp "2026-07-27T01:06:57.903694580Z"}