{:strongs 4100, :hebrew "מה", :lang :zh-Hans, :gloss "properly, interrogative what? (including how? why? when?); but also exclamation, what! (including how!), or indefinitely what (including whatever, and even relatively, that which); often used with prefixes in various adverbial or conjunctive senses", :text "本来义,疑问词 什么?(包括 怎么?为什么?何时?);亦作感叹词,多么!(包括 何等!),或不定代词 什么(包括 无论什么,甚至作关系代词,那/所……的);常与介词前缀连用,具有各种副词或连词功能。", :model "glm-5.2", :timestamp "2026-07-27T01:58:30.005362944Z"}