{:strongs 8553, :hebrew "תמנתה", :lang :pt, :gloss "Timnah, the name of two places in Palestine", :text "Timná, o nome de dois lugares em Palestina", :model "glm-5.2", :timestamp "2026-07-27T00:46:46.096657057Z"}