{:strongs 8567, :hebrew "", :lang :pt, :gloss "to ascribe (praise), i.e. celebrate, commemorate", :text "atribuir (louvor), i.e. celebrar, comemorar", :model "glm-5.2", :timestamp "2026-07-27T01:57:11.187347006Z"}