{:strongs 8646, :hebrew "תרח", :lang :pt, :gloss "Terach, the father of Abraham; also a place in the Desert", :text "Terach, o pai de Avraham; também um lugar no deserto", :model "glm-5.2", :timestamp "2026-07-27T00:43:31.362874493Z"}