{:strongs 529, :hebrew "אמונים", :lang :zh-Hans, :gloss "established, i.e. (figuratively) trusty; also (abstractly) trustworthiness", :text "坚定的,即 (比喻义) 可靠的;也 (抽象义) 可信", :model "glm-5.2", :timestamp "2026-07-27T02:27:21.314262435Z"}