{:strongs 645, :hebrew "אפוא", :lang :zh-Hans, :gloss "strictly a demonstrative particle, here; but used of time, now or then", :text "严格来说是指示词,此处;但用于时间,今或那时", :model "glm-5.2", :timestamp "2026-07-27T02:12:46.652031655Z"}