{:strongs 1620, :hebrew "גרגרים", :lang :pt, :gloss "a berry (as if a pellet of rumination)", :text "uma baga (como se um grão de ruminação)", :model "glm-5.2", :timestamp "2026-07-27T01:37:37.854395336Z"}