{:strongs 1826, :hebrew "ידמו", :lang :pt, :gloss "to be dumb; by implication, to be astonished, to stop; also to perish", :text "ficar mudo; por implicação, ficar perplexo, parar; também perecer", :model "glm-5.2", :timestamp "2026-07-27T00:39:05.710011037Z"}