{:strongs 1931, :hebrew "הוא", :lang :pt, :gloss "he (she or it); only expressed when emphatic or without a verb; also (intensively) self, or (especially with the article) the same; sometimes (as demonstrative) this or that; occasionally (instead of copula) as or are", :text "ele (ela ou aquilo); expresso apenas quando enfático ou sem verbo; também (intensivamente) a si mesmo, ou (especialmente com o artigo) o mesmo; às vezes (como demonstrativo) este ou esse/aquilo; ocasionalmente (em vez de copulativo) como ou são", :model "glm-5.2", :timestamp "2026-07-27T00:30:39.662609223Z"}