{:strongs 1973, :hebrew "הלאה", :lang :pt, :gloss "to the distance, i.e. far away; also (of time) thus far", :text "à distância, i.e., longe; também (de tempo) até aqui", :model "glm-5.2", :timestamp "2026-07-27T01:28:13.965772020Z"}