{:strongs 1984, :hebrew "הללו", :lang :pt, :gloss "to be clear (orig. of sound, but usually of color); to shine; hence, to make a show, to boast; and thus to be (clamorously) foolish; to rave; causatively, to celebrate; also to stultify", :text "ser claro (orig. de som, mas geralmente de cor); brilhar; daí, fazer exibição, jactar-se; e assim ser (ruidosamente) tolo; delirar; causativamente, celebrar; também estultificar", :model "glm-5.2", :timestamp "2026-07-27T00:32:26.052623372Z"}