{:strongs 4082, :hebrew "מדינה", :lang :he, :gloss "properly, a judgeship, i.e. jurisdiction; by implication, a district (as ruled by a judge); generally, a region", :text "עיקרית: משפט־שיפוט, כלומר תחום שיפוט; מכאן במשמעות נלמדת: מחוז (הנשלט על־ידי שופט); באופן כללי: חבל ארץ.", :model "glm-5.2", :timestamp "2026-07-27T05:22:11.367854286Z"}