{:strongs 4142, :hebrew "מוסבת", :lang :he, :gloss "a reversal, i.e. the backside (of a gem), fold (of a double-leaved door), transmutation (of a name)", :text "היפוך, כלומר הצד האחורי (של אבן-חן), צד מקופל (של דלת דו-כנפית), שינוי (של שם)", :model "glm-5.2", :timestamp "2026-07-27T05:48:59.151846224Z"}