{:strongs 4252, :hebrew "מחלפים", :lang :he, :gloss "a (sacrificial) knife (as gliding through the flesh)", :text "סכין (זבחים) (כחותך דרך הבשר)", :model "glm-5.2", :timestamp "2026-07-27T06:25:08.443376151Z"}