{:strongs 4464, :hebrew "ממזר", :lang :he, :gloss "a mongrel, i.e. born of a Jewish father and a heathen mother", :text "ממזר, כלומר ילוד מאב ישראלי ואם גויה", :model "glm-5.2", :timestamp "2026-07-27T06:05:00.581383665Z"}