{:strongs 4490, :hebrew "מנות", :lang :he, :gloss "properly, something weighed out, i.e. (generally) a division; specifically (of food) a ration; also a lot", :text "מדויק: דבר השקול, כלומר (באופן כללי) חלוקה; במובן מסוים (של מזון) מנת מזון; גם גורל.", :model "glm-5.2", :timestamp "2026-07-27T05:33:00.645081830Z"}