{:strongs 4725, :hebrew "מקום", :lang :zh-Hans, :gloss "properly, a standing, i.e. a spot; but used widely of a locality (general or specific); also (figuratively) of a condition (of body or mind)", :text "本义为站立之处，即一个地点；但广泛用于指一个处所（泛指或特指）；亦（比喻地）指一种状态（身体的或心理的）。", :model "glm-5.2", :timestamp "2026-07-27T02:00:31.236106955Z"}