{:strongs 4772, :hebrew "מרגלתיו", :lang :zh-Hans, :gloss "(plural for collective) a footpiece, i.e. (adverbially) at the foot, or (direct.) the foot itself", :text "(复数作集合用法) 足部,即 (作副词) 在脚下,或 (直接指) 脚本身", :model "glm-5.2", :timestamp "2026-07-27T02:31:18.124826670Z"}