{:strongs 6571, :hebrew "פרשים", :lang :zh-Hans, :gloss "a steed (as stretched out to a vehicle, not single nor for mounting ); also (by implication) a driver (in a chariot), i.e. (collectively) cavalry", :text "马 (作为拉车的驾马,非单骑亦非坐骑);亦 (引申) 指 (战车上的) 驭者,即 (集合名词) 骑兵", :model "glm-5.2", :timestamp "2026-07-27T02:08:51.852068690Z"}