{:strongs 11, :hebrew "אבדון", :lang :es, :gloss "abstract, a perishing; concrete, Hades", :text "abstracto, un perecer; concreto, Hades", :model "glm-5.2", :timestamp "2026-07-27T00:07:42.499636601Z"}