{:strongs 14, :hebrew "אבה", :lang :es, :gloss "to breathe after, i.e. (figuratively) to be acquiescent", :text "respirar tras, es decir, (figuradamente) ser acquiescente (consentir, acceder)", :model "glm-5.2", :timestamp "2026-07-26T23:22:36.812406742Z"}