{:strongs 119, :hebrew "מאדמים", :lang :es, :gloss "to show blood (in the face), i.e. flush or turn rosy", :text "mostrar sangre (en el rostro), i.e., enrojececer o volverse rosado", :model "glm-5.2", :timestamp "2026-07-26T23:31:48.965823435Z"}