{:strongs 219, :hebrew "אורת", :lang :es, :gloss "luminousness, i.e. (figuratively) prosperity; also a plant (as being bright)", :text "luminosidad, i.e. (figurativamente) prosperidad; también una planta (por ser brillante)", :model "glm-5.2", :timestamp "2026-07-27T00:08:48.066601337Z"}