{:strongs 422, :hebrew "אלית", :lang :es, :gloss "properly, to adjure, i.e. (usually in a bad sense) imprecate", :text "propiamente, conjurar; es decir, (generalmente en sentido negativo) imprecar", :model "glm-5.2", :timestamp "2026-07-27T00:02:44.094907414Z"}