{:strongs 7322, :hebrew "ירופפו", :lang :he, :gloss "properly, to triturate (in a mortar), i.e. (figuratively) to agitate (by concussion)", :text "על-דרך השלמות, לרסק (במכתש), כלומר (בדרך ציור) לנער (בזעזוע).", :model "glm-5.2", :timestamp "2026-07-27T06:38:53.454216372Z"}