{:strongs 7489, :hebrew "מרעים", :lang :he, :gloss "properly, to spoil (literally, by breaking to pieces); figuratively, to make (or be) good for nothing, i.e. bad (physically, socially or morally)", :text "במובן העיקרי, לקלקל (במובן המילולי, על ידי שבירה לגורמים); במובן מושאל, להיות (או להעשות) ראוי לבלימות, כלומר רע (במובן פיזי, חברתי או מוסרי).", :model "glm-5.2", :timestamp "2026-07-27T05:16:08.085329505Z"}