{:strongs 272, :hebrew "אחזת", :lang :pt, :gloss "something seized, i.e. a possession (especially of land)", :text "algo apreendido, i.e. uma possessão (especialmente de terra)", :model "glm-5.2", :timestamp "2026-07-27T00:35:49.063829297Z"}