{:strongs 358, :hebrew "", :lang :pt, :gloss "Elon of Beth-chanan, a place in Palestine", :text "Elom de Beit-Chanan, um lugar na terra de Israel", :model "glm-5.2", :timestamp "2026-07-27T01:42:43.635306973Z"}