{:strongs 1097, :hebrew "בלי", :lang :he, :gloss "properly, failure, i.e. nothing or destruction; usually (with preposition) without, not yet, because not, as long as, etc.", :text "במובן העיקרי, כליון, כלומר אֵין או השמדה; בדרך כלל (עם מלת-יחס) בלי, עוד לא, משום שלא, כל עוד, וכו'.", :model "glm-5.2", :timestamp "2026-07-27T05:21:56.346282222Z"}