{:strongs 1268, :hebrew "ברותה", :lang :he, :gloss "Berothah or Berothai, a place north of Palestine", :text "ברותה או ברותי, מקום מצפון לפלשתין", :model "glm-5.2", :timestamp "2026-07-27T06:12:49.128455441Z"}