{:strongs 1285, :hebrew "ברית", :lang :he, :gloss "a compact (because made by passing between pieces of flesh)", :text "ברית (משום שנכרתה מעבר בין נתחי בשר)", :model "glm-5.2", :timestamp "2026-07-27T05:12:26.716240867Z"}