{:strongs 1366, :hebrew "גבול", :lang :he, :gloss "properly, a cord (as twisted), i.e. (by implication) a boundary; by extension the territory inclosed", :text "מִלּוּלִית, חֶבֶל (כְּמְלֹפֵף), כְּלוֹמַר (מִתֹּךְ הַשְׁלָכָה) גְּבוּל; בְּהַרְחָבָה, הַטְּרִיטוֹרְיָה הַתְּחוּמָה.", :model "glm-5.2", :timestamp "2026-07-27T05:13:22.228873691Z"}