{:strongs 1482, :hebrew "גור", :lang :he, :gloss "a cub (as still abiding in the lair), especially of the lion", :text "גור כפי שנשאר עדיין במאורה, במיוחד של הארי", :model "glm-5.2", :timestamp "2026-07-27T05:43:35.934627073Z"}