{:strongs 2518, :hebrew "חלקיהו", :lang :pt, :gloss "Chilhijah, the name of eight Israelites", :text "Chilqîyâh, o nome de oito israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:36:12.543979623Z"}