{:strongs 2973, :hebrew "נואלו", :lang :pt, :gloss "properly, to be slack, i.e. (figuratively) to be foolish", :text "próprio: ser frouxo, i.e. (figurativamente) ser tolo", :model "glm-5.2", :timestamp "2026-07-27T01:23:43.115062001Z"}