{:strongs 3670, :hebrew "יכנף", :lang :zh-Hans, :gloss "properly, to project laterally, i.e. probably (reflexive) to withdraw", :text "字面义：向侧面延伸，即可能（反身式）退却", :model "glm-5.2", :timestamp "2026-07-27T03:01:10.371885342Z"}