{:strongs 6016, :hebrew "עמר", :lang :pt, :gloss "properly, a heap, i.e. a sheaf; also an omer, as a dry measure", :text "propriamente, um monte, i.e. uma gavilha; também um omer, como medida de secos", :model "glm-5.2", :timestamp "2026-07-27T01:07:12.635504952Z"}