{:strongs 6272, :hebrew "נעתם", :lang :pt, :gloss "probably to glow, i.e. (figuratively) be desolated", :text "provavelmente brilhar, i.e. (figurativamente) ser assolado", :model "glm-5.2", :timestamp "2026-07-27T01:50:51.378131723Z"}