{:strongs 6299, :hebrew "פדה", :lang :pt, :gloss "to sever, i.e. ransom; generally to release, preserve", :text "separar, ou seja, resgatar; geralmente libertar, preservar", :model "glm-5.2", :timestamp "2026-07-27T00:34:37.728398737Z"}