{:strongs 2833, :hebrew "חשן", :lang :zh-Hans, :gloss "perhaps a pocket (as holding the Urim and Thummim), or rich (as containing gems), used only of the gorget of the highpriest", :text "也许指口袋 (因装有乌陵和土明),或富饰品 (因镶嵌宝石),仅用于大祭司的胸饰", :model "glm-5.2", :timestamp "2026-07-27T02:34:35.877235479Z"}