{:strongs 2947, :hebrew "טפחות", :lang :zh-Hans, :gloss "a spread of the hand, i.e. a palm-breadth (not 'span' of the fingers); architecturally, a corbel (as a supporting palm)", :text "手掌张开度,即一掌宽 (非指手指展开的\"一拃\");建筑学上指托臂/牛腿 (如同支撑的手掌)。", :model "glm-5.2", :timestamp "2026-07-27T02:34:40.571207571Z"}