{:strongs 8610, :hebrew "תפשי", :lang :he, :gloss "to manipulate, i.e. seize; chiefly to capture, wield, specifically, to overlay; figuratively, to use unwarrantably", :text "לְתַפֵּשׂ, כלומר לאחוז; בעיקר ללכוד, לְנַדֵּן; במובן מסוים, לצַפּוֹת; במובן מושאל, לִתְפּוֹשׂ שלא כדין.", :model "glm-5.2", :timestamp "2026-07-27T05:19:51.801845241Z"}