{:strongs 123, :hebrew "אדום", :lang :zh-Hans, :gloss "Edom, the elder twin-brother of Jacob; hence the region (Idumaea) occupied by him", :text "以东,雅各的长兄(双生子);引申为其所居住的地域(以土买)", :model "glm-5.2", :timestamp "2026-07-27T02:01:21.181670799Z"}