{:strongs 359, :hebrew "אלות", :lang :zh-Hans, :gloss "Eloth or Elath, a place on the Red Sea", :text "以拉特 (Eloth) 或以拉 (Elath)，红海边的一处地点", :model "glm-5.2", :timestamp "2026-07-27T02:34:59.909502561Z"}