{:strongs 6101, :hebrew "תעצלו", :lang :es, :gloss "to lean idly, i.e. to be indolent or slack", :text "recostarse ociosamente, i.e., ser indolente o negligente", :model "glm-5.2", :timestamp "2026-07-27T00:25:10.254204358Z"}