{:strongs 6287, :hebrew "פאר", :lang :es, :gloss "an embellishment, i.e. fancy head-dress", :text "un adorno, es decir, un tocado lujoso", :model "glm-5.2", :timestamp "2026-07-26T23:37:51.795141831Z"}