{:strongs 5820, :hebrew "עזמות", :lang :zh-Hans, :gloss "Azmaveth, the name of three Israelites and of a place in Palestine", :text "亚斯玛威，三位以色列人的名字，以及巴勒斯坦一地名的名称", :model "glm-5.2", :timestamp "2026-07-27T02:22:39.551855289Z"}