{:strongs 5848, :hebrew "יעטוף", :lang :zh-Hans, :gloss "to shroud, i.e. clothe (whether transitive or reflex.); hence (from the idea of darkness) to languish", :text "遮蔽,即遮盖 (及物或反身用法);由此 (从黑暗的意象引申) 衰弱", :model "glm-5.2", :timestamp "2026-07-27T02:36:15.687160251Z"}