{:strongs 7378, :hebrew "יריב", :lang :zh-Hans, :gloss "properly, to toss, i.e. grapple; mostly figuratively, to wrangle, i.e. hold a controversy; (by implication) to defend", :text "适当地,投掷,即扭打;多为比喻义,争论,即进行争辩;(含蓄义)辩护", :model "glm-5.2", :timestamp "2026-07-27T02:04:00.696145772Z"}