{:strongs 8505, :hebrew "יתכן", :lang :es, :gloss "to balance, i.e. measure out (by weight or dimension); figuratively to arrange, equalize, through the idea of levelling (ment, estimate, test)", :text "equalar, i.e. medir (por peso o dimensión); figurativamente disponer, equiparar, mediante la idea de nivelar (mentalmente, estimar, probar)", :model "glm-5.2", :timestamp "2026-07-26T23:28:45.854111326Z"}