{:strongs 8573, :hebrew "תנופה", :lang :es, :gloss "a brandishing (in threat); by implication, tumult; specifically, the official undulation of sacrificial offerings", :text "un brandir (en amenaza); por implicación, tumulto; específicamente, la ondulación oficial de las ofrendas de sacrificio", :model "glm-5.2", :timestamp "2026-07-26T23:26:40.343951806Z"}