{:strongs 2600, :hebrew "חנם", :lang :he, :gloss "gratis, i.e. devoid of cost, reason or advantage", :text "בחינם, דהיינו בלא עלות, סיבה או תועלת", :model "glm-5.2", :timestamp "2026-07-27T05:19:55.133034446Z"}