{:strongs 2760, :hebrew "יחרך", :lang :he, :gloss "to braid (i.e. to entangle or snare) or catch (game) in a net", :text "לשלג (כלומר לסבך או לצוד) או ללכוד (ציד) ברשת", :model "glm-5.2", :timestamp "2026-07-27T06:17:59.534082275Z"}