{:strongs 6045, :hebrew "ענין", :lang :zh-Hans, :gloss "ado, i.e. (generally) employment or (specifically) an affair", :text "事务，即 (泛指) 职务或 (特指) 一桩事情", :model "glm-5.2", :timestamp "2026-07-27T02:32:09.587479119Z"}