{:strongs 6068, :hebrew "ענתות", :lang :zh-Hans, :gloss "Anathoth, the name of two Israelites, also of a place in Pal", :text "ʻĂnâthôwth，两名以色列人的名字，也是巴勒斯坦一地的名称", :model "glm-5.2", :timestamp "2026-07-27T02:17:39.540810115Z"}