{:strongs 6452, :hebrew "", :lang :zh-Hans, :gloss "to hop, i.e. (figuratively) skip over (or spare); by implication, to hesitate; also (literally) to limp, to dance", :text "跳跃，即 (比喻义) 跃过 (或免过)；引申为，踌躇；亦作 (字面义) 跛行，跳舞", :model "glm-5.2", :timestamp "2026-07-27T02:46:57.276698098Z"}