{:strongs 7649, :hebrew "", :lang :es, :gloss "satiated (in a pleasant or disagreeable sense)", :text "saciado (en sentido agradable o desagradable)", :model "glm-5.2", :timestamp "2026-07-27T00:01:20.311293542Z"}