{:strongs 7732, :hebrew "שובל", :lang :es, :gloss "Shobal, the name of an Edomite and two Israelites", :text "Shobal, el nombre de un edomita y dos israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:01:20.587305727Z"}