{:strongs 7802, :hebrew "", :lang :es, :gloss "Shushan-Eduth or Shoshannim-Eduth, the title of a popular song", :text "Shushan-Eduth o Shoshannim-Eduth, el título de una canción popular", :model "glm-5.2", :timestamp "2026-07-27T00:12:54.340378295Z"}