{:strongs 7867, :hebrew "", :lang :es, :gloss "properly, to become aged, i.e. (by implication) to grow gray", :text "propiamente, envejecer, i.e. (por implicación) encanecer", :model "glm-5.2", :timestamp "2026-07-27T00:28:38.888633520Z"}