{:strongs 7991, :hebrew "שלישו", :lang :es, :gloss "a triple, i.e. (as a musical instrument) a triangle (or perhaps rather three-stringed lute); also (as an indefinite, great quantity) a three-fold measure (perhaps a treble ephah); also (as an officer) a general of the third rank (upward, i.e. the highest)", :text "un triple, i.e. (como instrumento musical) un triángulo (o quizás más bien un laúd de tres cuerdas); también (como cantidad grande indefinida) una medida triple (quizás un efá triple); también (como oficial) un general de tercer rango (hacia arriba, i.e. el más alto)", :model "glm-5.2", :timestamp "2026-07-26T23:36:19.900782245Z"}