{:strongs 4232, :hebrew "מחויאל", :lang :es, :gloss "Mechujael or Mechijael, an antediluvian patriarch", :text "Mechujael o Mechijael, un patriarca antediluviano", :model "glm-5.2", :timestamp "2026-07-27T00:20:56.584274524Z"}