{:strongs 4260, :hebrew "מחמאת", :lang :es, :gloss "something buttery (i.e. unctuous and pleasant), as (figuratively) flattery", :text "algo mantecoso (es decir, untuoso y agradable), como (figurativamente) adulación", :model "glm-5.2", :timestamp "2026-07-27T00:20:59.065746854Z"}