{:strongs 4261, :hebrew "מחמד", :lang :es, :gloss "delightful; hence, a delight, i.e. object of affection or desire", :text "delicioso; de aquí, un deleite, es decir, objeto de afecto o deseo", :model "glm-5.2", :timestamp "2026-07-26T23:30:35.406467339Z"}