{:strongs 7588, :hebrew "שאון", :lang :pt, :gloss "uproar (as of rushing); by implication, destruction", :text "tumulto (como de algo que se precipita); por implicação, destruição", :model "glm-5.2", :timestamp "2026-07-27T00:42:01.362142332Z"}