{:strongs 7686, :hebrew "משגה", :lang :pt, :gloss "to stray (causatively, mislead), usually (figuratively) to mistake, especially (morally) to transgress; by extension (through the idea of intoxication) to reel, (figuratively) be enraptured", :text "desviar-se (causativamente, enganar), usualmente (figuradamente) equivocar-se, especialmente (moralmente) transgredir; por extensão (através da ideia de embriaguez) cambalear, (figuradamente) ser enlevado", :model "glm-5.2", :timestamp "2026-07-27T00:40:04.205388013Z"}