{:strongs 7761, :hebrew "יתשם", :lang :pt, :gloss "command, give, lay, make, name, regard, set.", :text "ordenar, dar, pôr, fazer, nomear, considerar, estabelecer.", :model "glm-5.2", :timestamp "2026-07-27T00:37:48.152404516Z"}