{:strongs 7867, :hebrew "", :lang :pt, :gloss "properly, to become aged, i.e. (by implication) to grow gray", :text "próprio: envelhecer, i.e. (por implicação) tornar-se grisalho", :model "glm-5.2", :timestamp "2026-07-27T01:55:20.387136879Z"}