{:strongs 3647, :hebrew "כמס", :lang :he, :gloss "to store away, i.e. (figuratively) in the memory", :text "לאגור, לצרוך; (במובן מושאל) בזיכרון", :model "glm-5.2", :timestamp "2026-07-27T06:21:58.878838225Z"}