{:strongs 3839, :hebrew "", :lang :he, :gloss "some sort of whitish tree, perhaps the storax", :text "סוג כלשהו של עץ לבנבן, אולי השרף (storax).", :model "glm-5.2", :timestamp "2026-07-27T06:23:03.256722853Z"}