{:strongs 7586, :hebrew "שאול", :lang :zh-Hans, :gloss "Shaul, the name of an Edomite and two Israelites", :text "Shaul，一名以东人和两名以色列人的名字", :model "glm-5.2", :timestamp "2026-07-27T01:58:40.497711446Z"}