{:strongs 7639, :hebrew "שבכה", :lang :zh-Hans, :gloss "a net-work, i.e. (in hunting) a snare, (in architecture) a ballustrade; also a reticulated ornament to a pillar", :text "网状结构，即（狩猎中的）网罗，（建筑中的）栏柱；亦指柱子的网状装饰。", :model "glm-5.2", :timestamp "2026-07-27T02:37:57.220439759Z"}