{:strongs 7660, :hebrew "משבצים", :lang :zh-Hans, :gloss "to interweave (colored) threads in squares; by implication (of reticulation) to inchase gems in gold", :text "交织 (彩色) 线成方格;引申 (指网状交错) 以金镶嵌宝石", :model "glm-5.2", :timestamp "2026-07-27T03:18:15.288648056Z"}