{:strongs 7723, :hebrew "שוא", :lang :zh-Hans, :gloss "evil (as destructive), literally (ruin) or morally (especially guile); figuratively idolatry (as false, subjective), uselessness (as deceptive, objective; also adverbially, in vain)", :text "恶（具破坏性），字面义（毁灭）或道德义（特指诡诈）；比喻义为偶像崇拜（因其虚假，主观），无用（因其欺骗性，客观；亦作副词，徒然）", :model "glm-5.2", :timestamp "2026-07-27T02:04:56.612325642Z"}