{:strongs 7965, :hebrew "שלום", :lang :zh-Hans, :gloss "safe, i.e. (figuratively) well, happy, friendly; also (abstractly) welfare, i.e. health, prosperity, peace", :text "平安的,即 (比喻义) 安好的、幸福的、友好的;也 (抽象地) 福祉,即健康、繁荣、平安", :model "glm-5.2", :timestamp "2026-07-27T02:00:07.749747485Z"}