{:strongs 3053, :hebrew "יהבך", :lang :pt, :gloss "properly, what is given (by Providence), i.e. a lot", :text "próprio: o que é dado (pela Providência), i.e., uma sorte", :model "glm-5.2", :timestamp "2026-07-27T01:41:43.865303721Z"}