{:strongs 3520, :hebrew "כבודה", :lang :es, :gloss "weightiness, i.e. magnificence, wealth", :text "pesadez, es decir, magnificencia, riqueza", :model "glm-5.2", :timestamp "2026-07-27T00:09:39.147422412Z"}