{:strongs 3823, :hebrew "ילבב", :lang :es, :gloss "properly, to be enclosed (as if with fat); by implication (as denominative from 3824", :text "propiamente, estar encerrado (como si con grasa); por implicación (como denominativo de 3824", :model "glm-5.2", :timestamp "2026-07-27T00:05:21.293839028Z"}