{:strongs 3867, :hebrew "לוה", :lang :es, :gloss "properly, to twine, i.e. (by implication) to unite, to remain; also to borrow (as a form of obligation) or (caus.) to lend", :text "propiamente, entretejer, i.e. (por implicación) unir, permanecer; también tomar prestado (como una forma de obligación) o (caus.) prestar", :model "glm-5.2", :timestamp "2026-07-26T23:32:08.059448959Z"}