{:strongs 6514, :hebrew "פרודא", :lang :es, :gloss "Peruda or Perida, one of 'Solomon's servants'", :text "Peruda o Perida, uno de los 'siervos de Shlomó'", :model "glm-5.2", :timestamp "2026-07-27T00:11:52.961200980Z"}