{:strongs 6608, :hebrew "", :lang :es, :gloss "opening (figuratively) i.e. disclosure", :text "apertura (figuradamente) i.e. revelación", :model "glm-5.2", :timestamp "2026-07-27T00:26:19.592946920Z"}