{:strongs 6636, :hebrew "צביים", :lang :es, :gloss "Tseboim or Tsebijim, a place in Palestine", :text "Tsᵉbôʼîym o Tseboim, un lugar en Palestina", :model "glm-5.2", :timestamp "2026-07-27T00:12:00.512593813Z"}