{:strongs 6692, :hebrew "יציץ", :lang :es, :gloss "to twinkle, i.e. glance; by analogy, to blossom (figuratively, flourish)", :text "brillar (intermitentemente), i.e., fulgurar; por analogía, florecer (figuradamente, prosperar)", :model "glm-5.2", :timestamp "2026-07-26T23:37:57.124432612Z"}