{:strongs 6703, :hebrew "צח", :lang :es, :gloss "dazzling, i.e. sunny, bright, (figuratively) evident", :text "deslumbrante, es decir, soleado, brillante, (figuradamente) evidente", :model "glm-5.2", :timestamp "2026-07-27T00:03:35.621309821Z"}