{:strongs 6734, :hebrew "ציצת", :lang :es, :gloss "a floral or wing-like projection, i.e. a fore-lock of hair, a tassel", :text "una proyección floral o en forma de ala, es decir, un mechón de pelo en la frente, una borla", :model "glm-5.2", :timestamp "2026-07-27T00:12:07.001150615Z"}