{:strongs 6873, :hebrew "יצריח", :lang :es, :gloss "to be clear (in tone, i.e. shrill), i.e. to whoop", :text "ser claro (en el tono, es decir, agudo), es decir, dar un grito", :model "glm-5.2", :timestamp "2026-07-27T00:12:13.215479766Z"}