{:strongs 6960, :hebrew "קוה", :lang :es, :gloss "to bind together (perhaps by twisting), i.e. collect; (figuratively) to expect", :text "atar juntos (quizá por torsión), i.e. reunir; (figurativamente) esperar", :model "glm-5.2", :timestamp "2026-07-26T23:24:04.573768240Z"}