{:strongs 6994, :hebrew "קטנתי", :lang :es, :gloss "to diminish, i.e. be (causatively, make) diminutive or (figuratively) of no account", :text "disminuir, i.e., ser (causativamente, hacer) diminuto o (figuradamente) insignificante o de ningún valor", :model "glm-5.2", :timestamp "2026-07-27T00:27:10.853063451Z"}