{:strongs 4639, :hebrew "מעשה", :lang :he, :gloss "an action (good or bad); generally, a transaction; abstractly, activity; by implication, a product (specifically, a poem) or (generally) property", :text "פעולה (טובה או רעה); באופן כללי, עסקה; במובן מופשט, פעילות; משתמע, יציר (בפרט, שיר) או (באופן כללי), רכוש", :model "glm-5.2", :timestamp "2026-07-27T05:13:03.132872413Z"}