{:strongs 1032, :hebrew "חורן", :lang :pt, :gloss "Beth-Choron, the name of two adjoining places in Palestine", :text "Bêyth Chôwrôwn, o nome de dois lugares contíguos na Terra de Israel", :model "glm-5.2", :timestamp "2026-07-27T00:41:04.783346297Z"}