{:strongs 1478, :hebrew "אגוע", :lang :pt, :gloss "to breathe out, i.e. (by implication) expire", :text "expirar, i.e. (por implicação) exalar o último fôlego, morrer", :model "glm-5.2", :timestamp "2026-07-27T00:42:06.321836106Z"}