{:strongs 5568, :hebrew "סמר", :lang :pt, :gloss "to be erect, i.e. bristle as hair", :text "estar eriçado, i.e., eriçar-se como os cabelos", :model "glm-5.2", :timestamp "2026-07-27T01:31:59.478989920Z"}