{:strongs 5627, :hebrew "סרה", :lang :pt, :gloss "apostasy, crime; figuratively, remission", :text "apostasia, crime; figuradamente, remissão", :model "glm-5.2", :timestamp "2026-07-27T00:47:37.751527586Z"}