{:strongs 5676, :hebrew "עבריו", :lang :pt, :gloss "properly, a region across; but used only adverbially (with or without a preposition) on the opposite side (especially of the Jordan; ususally meaning the east)", :text "própria ou especificamente: uma região além; mas usado apenas adverbialmente (com ou sem preposição) no lado oposto (especialmente do Jordão; geralmente significando o lado oriental)", :model "glm-5.2", :timestamp "2026-07-27T00:39:00.880716774Z"}