{:strongs 5961, :hebrew "", :lang :pt, :gloss "properly, girls, i.e. the soprano or female voice, perhaps falsetto", :text "próprio, moças, i.e., o soprano ou voz feminina, talvez falsete", :model "glm-5.2", :timestamp "2026-07-27T01:32:25.803238103Z"}