{:strongs 7660, :hebrew "משבצים", :lang :he, :gloss "to interweave (colored) threads in squares; by implication (of reticulation) to inchase gems in gold", :text "לשלב חוטים (צבעוניים) בריבועים; בהשאלה (של קשירת רשת) לשבץ אבני-חן בזהב", :model "glm-5.2", :timestamp "2026-07-27T06:40:37.841926166Z"}