{:strongs 2050, :hebrew "תהותתו", :lang :pt, :gloss "properly, to break in upon, i.e. to assail", :text "próprio, irromper sobre, i.e., assaltar", :model "glm-5.2", :timestamp "2026-07-27T01:38:51.713725993Z"}