{:strongs 2338, :hebrew "יחיטו", :lang :pt, :gloss "to string together, i.e. (figuratively) to repair", :text "enfiar, i.e. (figurativamente) reparar", :model "glm-5.2", :timestamp "2026-07-27T01:39:38.468538520Z"}