{:strongs 2448, :hebrew "חכללות", :lang :pt, :gloss "flash (of the eyes); in a bad sense, blearedness", :text "flash (dos olhos); em sentido ruim, visão turva", :model "glm-5.2", :timestamp "2026-07-27T01:39:58.604802545Z"}