{:strongs 7329, :hebrew "ירזה", :lang :es, :gloss "to emaciate, i.e. make (become) thin (literally or figuratively)", :text "enflaquecer, i.e., hacer (llegar a ser) delgado (literal o figurativamente)", :model "glm-5.2", :timestamp "2026-07-27T00:12:35.258334508Z"}