{:strongs 7348, :hebrew "", :lang :es, :gloss "Rechum, the name of a Persian and of three Israelites", :text "Rechum, el nombre de un persa y de tres israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:03:50.201824480Z"}