{:strongs 7442, :hebrew "ירננו", :lang :es, :gloss "properly, to creak (or emit a stridulous sound), i.e. to shout (usually for joy)", :text "propiamente, chirriar (o emitir un sonido estridente), i.e. gritar (generalmente de alegría)", :model "glm-5.2", :timestamp "2026-07-26T23:23:29.013190809Z"}