{:strongs 1198, :hebrew "", :lang :zh-Hans, :gloss "properly, foot (as consumed); i.e. (by exten.) of cattle brutishness; (concretely) stupid", :text "本义为脚 (如同被烧尽);即 (引申) 指牲畜的兽性愚钝;(具体) 愚蠢", :model "glm-5.2", :timestamp "2026-07-27T02:29:21.675777220Z"}