{:strongs 1260, :hebrew "", :lang :zh-Hans, :gloss "Bered, the name of a place south of Palestine, also of an Israelite", :text "Bered（贝雷德），巴勒斯坦以南一地名，亦为一名以色列人之名", :model "glm-5.2", :timestamp "2026-07-27T02:51:49.222128381Z"}