{:strongs 8311, :hebrew "שרוע", :lang :zh-Hans, :gloss "to prolong, i.e. (reflex) be deformed by excess of members", :text "延长，即 (反身) 因肢体过剩而畸形", :model "glm-5.2", :timestamp "2026-07-27T02:49:54.720302924Z"}