{:strongs 8401, :hebrew "תבן", :lang :zh-Hans, :gloss "properly, material, i.e. (specifically) refuse haum or stalks of grain (as chopped in threshing and used for fodder)", :text "properly, 物料, 即 (特指) 谷物的碎秸秆或茎秆 (如在打谷时被切碎, 用作饲料)", :model "glm-5.2", :timestamp "2026-07-27T02:18:07.981951440Z"}