{:strongs 123, :hebrew "אדום", :lang :he, :gloss "Edom, the elder twin-brother of Jacob; hence the region (Idumaea) occupied by him", :text "אדום, אחיו התאום הבכיר של יעקב; מכאן האזור (אדומיאה) שאותו ישב.", :model "glm-5.2", :timestamp "2026-07-27T05:14:58.031397713Z"}