{:strongs 5288, :hebrew "נער", :lang :he, :gloss "(concretely) a boy (as active), from the age of infancy to adolescence; by implication, a servant; also (by interch. of sex), a girl (of similar latitude in age)", :text "(במובן מוחשי) נער (כפעיל), מגיל הינקות עד ההתבגרות; משתמע, עבד; גם (על־ידי החלפת מין), נערה (באותו טווח גילים).", :model "glm-5.2", :timestamp "2026-07-27T05:14:47.662806544Z"}