{:strongs 5405, :hebrew "", :lang :he, :gloss "properly, to eliminate, i.e. (intransitively) to dry up", :text "על־פי משמעותו העיקרית, לבטל; כלומר (בבניין הסביל/בלתי־ישים), להתייבש.", :model "glm-5.2", :timestamp "2026-07-27T06:06:08.906763305Z"}