{:strongs 5486, :hebrew "אסיפם", :lang :he, :gloss "to snatch away, i.e. terminate", :text "לִקַחַת בְּחָפְזָה, כְּלוֹמַר לְהֵפֵס סוֹפִית", :model "glm-5.2", :timestamp "2026-07-27T05:45:28.127313043Z"}