{:strongs 4603, :hebrew "מעלו", :lang :es, :gloss "properly, to cover up; used only figuratively, to act covertly, i.e. treacherously", :text "propiamente, cubrir; usado solo figuradamente, actuar encubiertamente, es decir, pérfidamente", :model "glm-5.2", :timestamp "2026-07-26T23:25:45.253271492Z"}