{:strongs 4716, :hebrew "מק", :lang :es, :gloss "properly, a melting, i.e. putridity", :text "propiamente, un derretimiento, es decir, putrefacción", :model "glm-5.2", :timestamp "2026-07-27T00:22:17.173253223Z"}