{:strongs 4917, :hebrew "משלחת", :lang :es, :gloss "a mission, i.e. (abstractly and favorable) release, or (concretely and unfavorable) an army", :text "una misión, i.e. (abstractamente y favorablemente) liberación, o (concretamente y desfavorablemente) un ejército", :model "glm-5.2", :timestamp "2026-07-27T00:10:41.896964150Z"}