{:strongs 4993, :hebrew "מתתיה", :lang :es, :gloss "Mattithjah, the name of four Israelites", :text "Mattityá, el nombre de cuatro israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:05:48.314077438Z"}