{:strongs 8401, :hebrew "תבן", :lang :es, :gloss "properly, material, i.e. (specifically) refuse haum or stalks of grain (as chopped in threshing and used for fodder)", :text "propiamente, material, i.e. (específicamente) residuo de paja o tallos de grano (como picados en la trilla y usados como forraje)", :model "glm-5.2", :timestamp "2026-07-26T23:31:49.341881158Z"}