{:strongs 8473, :hebrew "תחרא", :lang :es, :gloss "a linen corslet (as white or hollow)", :text "una coraza de lino (por ser blanca o hueca)", :model "glm-5.2", :timestamp "2026-07-27T00:13:30.454268780Z"}