{:strongs 2100, :hebrew "זבת", :lang :es, :gloss "to flow freely (as water), i.e. (specifically) to have a (sexual) flux; figuratively, to waste away; also to overflow", :text "fluir libremente (como el agua), i.e. (específicamente) tener un flujo (sexual); figuradamente, consumirse; también desbordar", :model "glm-5.2", :timestamp "2026-07-26T23:24:34.017589489Z"}