{:strongs 2286, :hebrew "חגבה", :lang :es, :gloss "Chagaba or Chagabah, one of the Nethinim", :text "Chagaba o Chagabah, uno de los netinim", :model "glm-5.2", :timestamp "2026-07-27T00:16:33.755342372Z"}