{:strongs 2300, :hebrew "הוחדה", :lang :es, :gloss "to be (causatively, make) sharp or (figuratively) severe", :text "ser o (causativamente, hacer) afilado, o (figuradamente) severo", :model "glm-5.2", :timestamp "2026-07-27T00:04:51.413732258Z"}