{:strongs 2333, :hebrew "חות", :lang :es, :gloss "by implication, an encampment or village", :text "por implicación, un campamento o aldea", :model "glm-5.2", :timestamp "2026-07-27T00:02:06.588304014Z"}