{:strongs 2330, :hebrew "אחודה", :lang :es, :gloss "properly, to tie a knot, i.e. (figuratively) to propound a riddle", :text "propiamente, atar un nudo, i.e. (figuradamente) proponer un enigma", :model "glm-5.2", :timestamp "2026-07-27T00:02:06.647726011Z"}