{:strongs 2490, :hebrew "החל", :lang :es, :gloss "properly, to bore, i.e. (by implication) to wound, to dissolve; figuratively, to profane (a person, place or thing), to break (one's word), to begin (as if by an 'opening wedge'); to play (the flute)", :text "propiamente, perforar, es decir, (por implicación) herir, disolver; figurativamente, profanar (una persona, lugar o cosa), quebrar (la palabra dada), comenzar (como con una \"cuña de apertura\"); tocar (la flauta)", :model "glm-5.2", :timestamp "2026-07-26T23:21:33.288361527Z"}