{:strongs 4608, :hebrew "", :lang :pt, :gloss "an elevation, i.e. (concretely) acclivity or platform; abstractly (the relation or state) a rise or (figuratively) priority", :text "uma elevação, i.e. (concretamente) aclive ou plataforma; abstratamente (a relação ou estado) uma ascensão ou (figurativamente) prioridade", :model "glm-5.2", :timestamp "2026-07-27T00:47:21.503530434Z"}