{:strongs 4690, :hebrew "מצקי", :lang :pt, :gloss "something narrow, i.e. a column or hilltop", :text "algo estreito, i.e. uma coluna ou cume de colina", :model "glm-5.2", :timestamp "2026-07-27T01:31:00.830981249Z"}