{:strongs 4745, :hebrew "מקרה", :lang :pt, :gloss "something met with, i.e. an accident or fortune", :text "algo que se encontra, i.e., um acaso ou fortuna", :model "glm-5.2", :timestamp "2026-07-27T00:48:53.308318062Z"}