{:strongs 4843, :hebrew "אמרר", :lang :pt, :gloss "to be (causatively, make) bitter (literally or figuratively)", :text "ser (causativamente, tornar) amargo (literal ou figurativamente)", :model "glm-5.2", :timestamp "2026-07-27T00:46:06.379059466Z"}