{:strongs 4973, :hebrew "מתלעות", :lang :pt, :gloss "properly, a biter, i.e. a tooth", :text "propriamente, aquele que morde, i.e., um dente", :model "glm-5.2", :timestamp "2026-07-27T01:31:19.226453949Z"}