{:strongs 2053, :hebrew "ווי", :lang :he, :gloss "a hook (the name of the sixth Hebrew letter)", :text "וו; וו (שמה של האות השישית באלפית העברית)", :model "glm-5.2", :timestamp "2026-07-27T05:28:25.787562131Z"}