{:strongs 2266, :hebrew "חברת", :lang :he, :gloss "to join (literally or figuratively); specifically (by means of spells) to fascinate", :text "לחבר (מילולית או כנראה); במיוחד (באמצעות לחשים) לכשף", :model "glm-5.2", :timestamp "2026-07-27T05:26:17.913831707Z"}