{:strongs 2428, :hebrew "חיל", :lang :he, :gloss "probably a force, whether of men, means or other resources; an army, wealth, virtue, valor, strength", :text "כנראה כוח, בין של אנשים, אמצעים או משאבים אחרים; צבא, עושר, מעלה, גבורה, עוז.", :model "glm-5.2", :timestamp "2026-07-27T05:13:01.642676421Z"}