{:strongs 3165, :hebrew "יחדיהו", :lang :es, :gloss "Jechdijah, the name of two Israelites", :text "Yechdiyáhû, el nombre de dos israelitas", :model "glm-5.2", :timestamp "2026-07-27T00:09:23.958338626Z"}