{:strongs 3228, :hebrew "", :lang :es, :gloss "a Jeminite (collectively) or descendants of Jamin", :text "un yeminí (colectivamente) o descendientes de Yamín", :model "glm-5.2", :timestamp "2026-07-27T00:18:31.144551649Z"}