{:strongs 3389, :hebrew "ירושלם", :lang :es, :gloss "Jerushalaim or Jerushalem, the capital city of Palestine", :text "Yerushalaim o Yerushalém, la ciudad capital de Palestina", :model "glm-5.2", :timestamp "2026-07-26T23:19:53.435186311Z"}