{:strongs 3444, :hebrew "ישועת", :lang :es, :gloss "something saved, i.e. (abstractly) deliverance; hence, aid, victory, prosperity", :text "algo salvado, es decir, (en sentido abstracto) liberación; de ahí, auxilio, victoria, prosperidad", :model "glm-5.2", :timestamp "2026-07-26T23:23:06.779875101Z"}