{:strongs 8143, :hebrew "שנהבים", :lang :he, :gloss "probably, tooth of elephants, i.e. ivory tusk", :text "כנראה, שן של פילים, כלומר חט שנהב", :model "glm-5.2", :timestamp "2026-07-27T06:11:00.212390106Z"}