{:strongs 8212, :hebrew "", :lang :he, :gloss "a pipe (for pouring forth, e.g. wine), i.e. the penis", :text "צינור (לשפיכה, למשל יין), כלומר הפין", :model "glm-5.2", :timestamp "2026-07-27T06:43:11.257979103Z"}