{:strongs 8433, :hebrew "תוכחת", :lang :he, :gloss "chastisement; figuratively (by words) correction, refutation, proof (even in defence)", :text "ייסורים; דרך דימוי (במילים) תוכחה, הפרכה, הוכחה (אף בהגנה)", :model "glm-5.2", :timestamp "2026-07-27T05:27:12.874888898Z"}