{:strongs 6186, :hebrew "ערך", :lang :he, :gloss "to set in a row, i.e. arrange, put in order (in a very wide variety of applications)", :text "לערוך בשורה, כלומר לסדר, להכין בסדר (במגוון רחב מאוד של שימושים)", :model "glm-5.2", :timestamp "2026-07-27T05:18:53.693066157Z"}