{:strongs 6381, :hebrew "נפלאות", :lang :he, :gloss "properly, perhaps to separate, i.e. distinguish (literally or figuratively); by implication, to be (causatively, make) great, difficult, wonderful", :text "על־דרך המקור, אולי להפריד, כלומר להבחין (במובן ממשי או משואל); משתמע, להיות (בצורת הפעיל, לעשות) גדול, קשה, נפלא", :model "glm-5.2", :timestamp "2026-07-27T05:17:07.343950860Z"}