{:strongs 5144, :hebrew "יזיר", :lang :zh-Hans, :gloss "to hold aloof, i.e. (intransitivey) abstain (from food and drink, from impurity, and even from divine worship (i.e. apostatize)); specifically, to set apart (to sacred purposes), i.e. devote", :text "避开，即（不及物地）禁戒（不沾食物与饮品、不洁之物，甚至不参与对以罗欣的敬拜（即叛离）；特指分别出来（归于神圣用途），即奉献", :model "glm-5.2", :timestamp "2026-07-27T02:35:50.504321775Z"}