{:strongs 805, :hebrew "אשורם", :lang :es, :gloss "an Ashurite (collectively) or inhabitant of Ashur, a district in Palestine", :text "un ashurita (colectivamente) o habitante de Ashur, un distrito en Palestina", :model "glm-5.2", :timestamp "2026-07-27T00:28:55.642885880Z"}