{:strongs 5046, :hebrew "הגד", :lang :es, :gloss "properly, to front, i.e. stand boldly out opposite; by implication (causatively), to manifest; figuratively, to announce (always by word of mouth to one present); specifically, to expose, predict, explain, praise", :text "propiamente, ponerse al frente, es decir, destacar resueltamente en oposición; por implicación (causativamente), manifestar; figuradamente, anunciar (siempre de palabra a alguien presente); específicamente, exponer, predecir, explicar, alabar", :model "glm-5.2", :timestamp "2026-07-26T23:20:32.175999416Z"}