{:strongs 5176, :hebrew "", :lang :es, :gloss "Nachash, the name of two persons apparently non-Israelite", :text "Nâchâsh, el nombre de dos personas aparentemente no israelitas", :model "glm-5.2", :timestamp "2026-07-26T23:32:15.197581638Z"}