{:strongs 5180, :hebrew "נחשתן", :lang :es, :gloss "something made of copper, i.e. the copper serpent of the Desert", :text "algo hecho de cobre, es decir, la serpiente de cobre del Desierto", :model "glm-5.2", :timestamp "2026-07-27T00:23:26.478847334Z"}