{:strongs 5222, :hebrew "נכים", :lang :es, :gloss "a smiter, i.e. (figuratively) traducer", :text "un golpeador, es decir, (figurativamente) calumniador", :model "glm-5.2", :timestamp "2026-07-27T00:23:28.649812828Z"}