{:strongs 5237, :hebrew "נכרי", :lang :es, :gloss "strange, in a variety of degrees and applications (foreign, non-relative, adulterous, different, wonderful)", :text "extraño, en diversos grados y aplicaciones (extranjero, no-pariente, adúltero, diferente, maravilloso)", :model "glm-5.2", :timestamp "2026-07-26T23:24:38.936142011Z"}