{:strongs 5352, :hebrew "ינקה", :lang :es, :gloss "to be (or make) clean (literally or figuratively); by implication (in an adverse sense) to be bare, i.e. extirpated", :text "ser (o hacer) limpio (literal o figurativamente); por implicación (en sentido adverso) ser raído, es decir, desarraigado", :model "glm-5.2", :timestamp "2026-07-26T23:24:23.769796060Z"}