{:strongs 1576, :hebrew "גמול", :lang :zh-Hans, :gloss "treatment, i.e. an act (of good or ill); by implication, service or requital", :text "对待，即一个行为（善或恶）；引申为服侍或报应", :model "glm-5.2", :timestamp "2026-07-27T02:13:00.740540384Z"}