{:strongs 5532, :hebrew "יסכן", :lang :es, :gloss "to be familiar with; by implication, to minister to, be serviceable to, to cherish, be customary", :text "ser familiar con; por implicación, ministrar a, ser útil a, valorar, ser acostumbrado", :model "glm-5.2", :timestamp "2026-07-26T23:31:26.385431767Z"}