{:strongs 5563, :hebrew "סמדר", :lang :es, :gloss "a vine blossom; used also adverbially, abloom", :text "un pimpollo de vid; usado también adverbialmente, en floración", :model "glm-5.2", :timestamp "2026-07-27T00:11:05.905053216Z"}