{:strongs 5707, :hebrew "עדים", :lang :es, :gloss "concretely, a witness; abstractly, testimony; specifically, a recorder, i.e. prince", :text "concretamente, un testigo; abstractamente, testimonio; específicamente, un cronista, es decir, príncipe", :model "glm-5.2", :timestamp "2026-07-26T23:22:42.134927478Z"}