{:strongs 5795, :hebrew "עזים", :lang :es, :gloss "a she-goat (as strong), but masculine in plural (which also is used elliptically for goat's hair)", :text "una cabra (como fuerte), pero masculino en plural (que también se usa elípticamente para pelo de cabra)", :model "glm-5.2", :timestamp "2026-07-26T23:22:44.511430555Z"}