{:strongs 3681, :hebrew "כסוי", :lang :pt, :gloss "properly, covered, i.e. (as noun) a covering", :text "propriamente, coberto, i.e. (como substantivo) uma cobertura", :model "glm-5.2", :timestamp "2026-07-27T01:30:04.741260423Z"}