{:strongs 3867, :hebrew "לוה", :lang :pt, :gloss "properly, to twine, i.e. (by implication) to unite, to remain; also to borrow (as a form of obligation) or (caus.) to lend", :text "próprio: entrelaçar, i.e. (por implicação) unir, permanecer; também tomar emprestado (como forma de obrigação) ou (caus.) emprestar", :model "glm-5.2", :timestamp "2026-07-27T00:44:49.641037820Z"}