{:strongs 3382, :hebrew "", :lang :zh-Hans, :gloss "Jered, the name of an antediluvian, and of an Israelite", :text "Jered，一个洪水前人物的名字，以及一个以色列人的名字", :model "glm-5.2", :timestamp "2026-07-27T02:22:02.161646689Z"}