{:strongs 1567, :hebrew "", :lang :es, :gloss "Galed, a memorial cairn East of the Jordan", :text "Galed, un cairn memorial al este del Jordán", :model "glm-5.2", :timestamp "2026-07-27T00:08:14.178597905Z"}