{:strongs 1803, :hebrew "דלת", :lang :es, :gloss "properly, something dangling, i.e. a loose thread or hair; figuratively, indigent", :text "propiamente, algo que cuelga, es decir, un hilo suelto o cabello; figuradamente, indigente", :model "glm-5.2", :timestamp "2026-07-27T00:08:27.707131280Z"}