{:strongs 2852, :hebrew "נחתך", :lang :es, :gloss "properly, to cut off, i.e. (figuratively) to decree", :text "propiamente, cortar; i.e. (figurativamente) decretar", :model "glm-5.2", :timestamp "2026-07-27T00:17:50.175328969Z"}