{:strongs 2872, :hebrew "טבור", :lang :es, :gloss "properly, accumulated; i.e. (by implication) a summit", :text "propiamente, acumulado; es decir, (por implicación) una cumbre", :model "glm-5.2", :timestamp "2026-07-27T00:09:12.962392413Z"}