{:strongs 2921, :hebrew "טלאות", :lang :es, :gloss "properly, to cover with pieces; i.e. (by implication) to spot or variegate (as tapestry)", :text "propiamente, cubrir con piezas; i.e. (por implicación) manchar o vetear (como tapiz)", :model "glm-5.2", :timestamp "2026-07-27T00:17:58.307432163Z"}